<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/aboutus.css">
    <title>Тотал Втор</title>
    <script src="https://kit.fontawesome.com/f27517934e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="gradient">
        <header>
            <div class="logo-container">
                <img src="img/logo.png" alt="Логотип" class="logo">
                <h1 class="company-name">Тотал Втор</h1>
            </div>
            <div class="contacts">
                <a href="tel:+380932158161">+380 (93) 215 81 61</a>
                <p>total.vtor.manager@gmail.com</p>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/services">Услуги</a></li>
                <li><a href="/aboutus" class="mainPage">О нас</a></li>
                <li><a href="/contacts">Контакты и адреса</a></li>
                <li><a href="/price">Цены</a></li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <section class="content">
            <h2>О нас</h2>
            <p>Наша компания — это сеть приемных пунктов металлолома и вторсырья в Одессе, которая уже более 20 лет успешно работает на рынке, предоставляя услуги по закупке, переработке черного и цветного металлолома, а также других видов вторсырья. За эти годы мы зарекомендовали себя как надежный партнер, заслужив доверие и уважение наших клиентов.

                Мы предлагаем удобные и выгодные условия для продажи металлолома и вторсырья, гарантируя высокий уровень обслуживания. Принимаем к переработке различные виды вторичных материалов, что способствует снижению экологической нагрузки и рациональному использованию ресурсов.
                
                Наши приемные пункты расположены по всему городу, что делает сдачу металлолома и вторсырья максимально удобной и доступной для каждого. Мы работаем с различными клиентами, от частных лиц до крупных организаций, и всегда учитываем их потребности и пожелания. Наша компания — надежный выбор для тех, кто ценит профессионализм и отличные условия для работы с металлоломом и вторсырьем.
                
                Кроме того, если вы не можете самостоятельно организовать вывоз, наша компания предоставляет транспорт для доставки материалов на наши площадки. Мы заботимся о сохранности вашего груза и гарантируем его целостность на протяжении всего процесса перевозки. Независимо от объема материала, мы обеспечим удобный и безопасный вывоз прямо от вашего объекта.
                
                Также мы занимаемся порезкой металлических конструкций любой сложности. Наши специалисты выполняют работы быстро и профессионально, независимо от размеров и степени сложности конструкции. Это позволяет эффективно подготовить металл для транспортировки или дальнейшей переработки.</p>

            
        </section>
    </div>

    <footer style="background-color: #484848; padding: 20px; display: flex; align-items: center; justify-content: space-between; font-family: Arial, sans-serif;">
        
        <div style="display: flex; align-items: center;">
          <img src="img/logo.png" alt="Логотип" style="height: 50px; margin-right: 10px;">
          <span>&copy; 2025 Все права защищены</span>
        </div>
      
        
        <div style="text-align: center;">
          <a href="tel:+380932158161" style="margin: 0; font-weight: bold; color: lightgray; text-decoration: none;">+380 (93) 215 81 61</a>
        </div>
      
        
        <div>
          <a href="https://www.tiktok.com/@metallolom_od?_t=ZM-8sqTkTGbXoj&_r=1" style="margin: 0 10px; color: #333; font-size: 24px;" class="fab fa-tiktok" aria-label="Tiktok"></a>
          <a href="https://t.me/+-V1Dq0yUMps1ZDgy" style="margin: 0 10px; color: #333; font-size: 24px;" class="fa fa-telegram" aria-label="Telegram"></a>
          <a href="mailto:total.vtor.manager@gmail.com" style="margin: 0 10px; color: #333; font-size: 24px;" class="fa fa-envelope" aria-label="Email"></a>
        </div>
    </footer>

</body>
</html>
