<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/aboutus.css">
    <title>Тотал Втор | Прийом металобрухту в Одесі – Про компанію</title>
    <meta name="description" content="Тотал Втор – мережа пунктів прийому металобрухту та вторинної сировини в Одесі. Працюємо понад 20 років, забезпечуючи вигідні умови та професійне обслуговування.">
    <script src="https://kit.fontawesome.com/f27517934e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="gradient">
        <header>
            <div class="logo-container">
                <img src="img/logo.png" alt="Логотип компанії Тотал Втор" class="logo">
                <div class="company-name">Тотал Втор</div>
            </div>
            <div class="contacts">
                <a href="tel:+380932158161">+380 (93) 215 81 61</a>
                <a href="mailto:manager@totalvtor.od.ua">manager@totalvtor.od.ua</a>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="/">Головна</a></li>
                <li><a href="/services">Послуги</a></li>
                <li><a href="/aboutus" class="mainPage">Про нас</a></li>
                <li><a href="/contacts">Контакти та адреси</a></li>
                <li><a href="/price">Ціни</a></li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <section class="content">
            <h1>Про нас</h1>
            <p>Наша компанія — це мережа приймальних пунктів металобрухту та вторинної сировини в Одесі, яка вже понад 20 років успішно працює на ринку. Ми надаємо послуги з закупівлі та переробки чорного і кольорового металобрухту, а також інших видів вторсировини. За ці роки ми зарекомендували себе як надійний партнер, який заслуговує на довіру клієнтів.</p>
            <p>Ми пропонуємо зручні та вигідні умови для здачі металобрухту й вторсировини, гарантуючи високий рівень обслуговування. Приймаємо різноманітні види вторинних матеріалів, що сприяє зниженню екологічного навантаження і раціональному використанню ресурсів.</p>
            <p>Наші приймальні пункти розташовані по всьому місту, що робить здачу металобрухту максимально зручною та доступною. Ми працюємо як з приватними особами, так і з великими організаціями, завжди враховуючи потреби та побажання клієнтів. Наша компанія — це надійний вибір для тих, хто цінує професіоналізм та вигідні умови співпраці.</p>
            <p>Крім того, якщо ви не маєте змоги самостійно доставити матеріал, наша компанія надає транспорт для вивозу металобрухту. Ми дбаємо про збереження вантажу й гарантуємо його цілісність протягом усього процесу перевезення — незалежно від об’єму.</p>
            <p>Також ми виконуємо порізку металевих конструкцій будь-якої складності. Наші фахівці працюють швидко та професійно, незалежно від розмірів конструкції. Це дозволяє ефективно підготувати метал до перевезення або подальшої переробки.</p>
        </section>
    </div>

    <footer style="background-color: #484848; padding: 20px; display: flex; align-items: center; justify-content: space-between; font-family: Arial, sans-serif;">
        <div style="display: flex; align-items: center;" class="footer-logo-container">
            <img src="img/logo.png" alt="Логотип компанії Тотал Втор" style="height: 50px; margin-right: 10px;">
            <span style="font-family: 'Russo One', serif; white-space: nowrap;">Тотал Втор</span>
        </div>
        <div class="footer-icons">
            <a href="https://www.tiktok.com/@metallolom_od?_t=ZM-8sqTkTGbXoj&_r=1" class="fab fa-tiktok" aria-label="Tiktok"></a>
            <a href="https://t.me/+-V1Dq0yUMps1ZDgy" class="fa fa-telegram" aria-label="Telegram"></a>
            <a href="mailto:manager@totalvtor.od.ua" class="fa fa-envelope" aria-label="Email"></a>
            <a href="tel:+380932158161" class="fas fa-square-phone" aria-label="Phone"></a>
        </div>
    </footer>
</body>
</html>
