<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Тотал Втор</title>
    <script src="https://kit.fontawesome.com/f27517934e.js" crossorigin="anonymous"></script>
    <script>
        function displayDate() {
            const today = new Date()
            const day = String(today.getDate()).padStart(2, '0')
            const month = String(today.getMonth() + 1).padStart(2, '0')
            const year = today.getFullYear()

            const dateString = `${day}.${month}.${year}`
            document.getElementById("dateParagraph").innerHTML = "сегодня: " + dateString
        }
    </script>
</head>
<body onload="displayDate()">
    <div class="gradient">
        <header>
            <div class="logo-container">
                <img src="img/logo.png" alt="Логотип" class="logo">
                <h1 class="company-name">Тотал Втор</h1>
            </div>
            <div class="contacts">
                <a href="tel:+380932158161">+380 (93) 215 81 61</a>
                <a href="mailto:total.vtor.manager@gmail.com">total.vtor.manager@gmail.com</a>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/services">Услуги</a></li>
                <li><a href="/aboutus">О нас</a></li>
                <li><a href="/contacts">Контакты и адреса</a></li>
                <li><a href="/price" class="mainPage">Цены</a></li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <section class="content">
            <div class="table-container">
                <h2>Розничные цены на лом в Одессе</h2>
                <p style="color: red;">Оптовые цены уточняйте по телефону</p>
                <p>Актуальность цен на <span id="dateParagraph"></span></p>
                <div>
                <table>
                    <thead>
                        <tr>
                            <th>Тип лома</th>
                            <th>Цена</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach(item => { %>
                            <tr>
                                <td><%= item.name %></td>
                                <td><%= item.price %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <footer style="background-color: #484848; padding: 20px; display: flex; align-items: center; justify-content: space-between; font-family: Arial, sans-serif;">
        
        <div style="display: flex; align-items: center;">
          <img src="img/logo.png" alt="Логотип" style="height: 50px; margin-right: 10px;">
          <span style="font-family: 'Russo One', serif;">Тотал Втор</span>
        </div>
      
        
        <div style="text-align: center;">
          <a href="tel:+380932158161" style="margin: 0; font-weight: bold; color: lightgray; text-decoration: none;">+380 (93) 215 81 61</a>
        </div>
      
        
        <div>
          <a href="https://www.tiktok.com/@metallolom_od?_t=ZM-8sqTkTGbXoj&_r=1" style="margin: 0 10px; color: #333; font-size: 24px;" class="fab fa-tiktok" aria-label="Tiktok"></a>
          <a href="https://t.me/+-V1Dq0yUMps1ZDgy" style="margin: 0 10px; color: #333; font-size: 24px;" class="fa fa-telegram" aria-label="Telegram"></a>
          <a href="mailto:total.vtor.manager@gmail.com" style="margin: 0 10px; color: #333; font-size: 24px;" class="fa fa-envelope" aria-label="Email"></a>
        </div>
    </footer>
</body>
</html>