<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Послуги з вивозу металобрухту, контейнерів, демонтажу та покупки техніки в Одесі. Тотал Втор - швидко, вигідно, зручно!">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/services.css">
    <title>Тотал Втор | Послуги з прийому та вивозу металобрухту в Одесі</title>
    <script src="https://kit.fontawesome.com/f27517934e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="gradient">
        <header>
            <div class="logo-container">
                <img src="img/logo.png" alt="Логотип Тотал Втор" class="logo">
                <div class="company-name">Тотал Втор</div>
            </div>
            <div class="contacts">
                <a href="tel:+380932158161">+380 (93) 215 81 61</a>
                <a href="mailto:manager@totalvtor.od.ua">manager@totalvtor.od.ua</a>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="/">Головна</a></li>
                <li><a href="/services" class="mainPage">Послуги</a></li>
                <li><a href="/aboutus">Про нас</a></li>
                <li><a href="/contacts">Контакти та адреси</a></li>
                <li><a href="/price">Ціни</a></li>
            </ul>
        </nav>
    </div>
    <div class="services-container">
        <div class="service-card">
            <img src="img/1.jpg" alt="Самовивіз металобрухту Тотал Втор">
            <h3>Самовивіз металобрухту</h3>
            <p>Наша компанія надає послуги з вивезення чорного та кольорового металобрухту власним спеціалізованим транспортом. Забезпечуємо оперативний і безпечний вивіз для фізичних та юридичних осіб із використанням маніпуляторів.</p>
        </div>
        <div class="service-card">
            <img src="img/3.jpg" alt="Контейнери для металобрухту" class="service4">
            <h3>Вивіз брухту в контейнерах</h3>
            <p>Пропонуємо зручні послуги з вивозу чорного брухту для підприємств і приватних клієнтів. Надаємо знімні контейнери різних розмірів. Гарантуємо своєчасне обслуговування та високий рівень сервісу.</p>
        </div>
        <div class="service-card">
            <img src="img/7.jpg" alt="Машина для самовивозу до 3 тонн">
            <h3>Самовивіз металу до 3 тонн</h3>
            <p>Пропонуємо вивіз металобрухту до 3 тонн сучасними вантажними авто. Працюємо з фізичними та юридичними особами. Гарантуємо швидке та безпечне завантаження і транспортування.</p>
        </div>
        <div class="service-card">
            <img src="img/2.jpg" alt="Порізка металевих конструкцій">
            <h3>Різка металевих конструкцій</h3>
            <p>Надаємо професійні послуги з демонтажу та різання металоконструкцій. Працюємо швидко, точно та безпечно завдяки досвідченим фахівцям та сучасному обладнанню.</p>
        </div>
        <div class="service-card">
            <img src="img/4.jpg" alt="Купівля авто і техніки на металобрухт">
            <h3>Закупівля авто та побутової техніки</h3>
            <p>Приймаємо легкові авто за вагою, а також побутову техніку — холодильники, пральні машини, плити. Легко та вигідно позбудьтеся старої техніки чи транспорту!</p>
        </div>
    </div>
    <footer style="background-color: #484848; padding: 20px; display: flex; align-items: center; justify-content: space-between; font-family: Arial, sans-serif;">
        <div style="display: flex; align-items: center;" class="footer-logo-container">
          <img src="img/logo.png" alt="Логотип Тотал Втор" style="height: 50px; margin-right: 10px;">
          <span style="font-family: 'Russo One', serif; white-space: nowrap;">Тотал Втор</span>
        </div>
        <div class="footer-icons">
          <a href="https://www.tiktok.com/@metallolom_od?_t=ZM-8sqTkTGbXoj&_r=1" class="fab fa-tiktok" aria-label="Tiktok"></a>
          <a href="https://t.me/+-V1Dq0yUMps1ZDgy" class="fa fa-telegram" aria-label="Telegram"></a>
          <a href="mailto:manager@totalvtor.od.ua" class="fa fa-envelope" aria-label="Email"></a>
          <a href="tel:+380932158161" class="fas fa-square-phone" aria-label="Phone"></a>
        </div>
    </footer>
</body>
</html>
