<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/services.css">
    <title>Тотал Втор</title>
    <script src="https://kit.fontawesome.com/f27517934e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="gradient">
        <header>
            <div class="logo-container">
                <img src="img/logo.png" alt="Логотип" class="logo">
                <h1 class="company-name">Тотал Втор</h1>
            </div>
            <div class="contacts">
                <a href="tel:+380932158161">+380 (93) 215 81 61</a>
                <a href="mailto:total.vtor.manager@gmail.com">total.vtor.manager@gmail.com</a>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/services" class="mainPage">Услуги</a></li>
                <li><a href="/aboutus">О нас</a></li>
                <li><a href="/contacts">Контакты и адреса</a></li>
                <li><a href="/price">Цены</a></li>
            </ul>
        </nav>
    </div>
    <div class="services-container">
        <div class="service-card">
            <img src="img/1.jpg" alt="Service 1">
            <h3>Самовывоз металла</h3>
            <p>Наша компания предоставляет услугу вывоза чёрного и цветного металлолома собственными специализированными машинами. Мы обеспечиваем оперативный и безопасный вывоз металлолома от юридических и частных лиц. Мы предлагаем профессиональные услуги по вывозу лома с использованием манипулятора, обеспечивая быструю и безопасную погрузку.</p>
        </div>
        <div class="service-card">
            <img src="img/3.jpg" alt="Service 4" class="service4">
            <h3>Вывоз лома в контейнерах</h3>
            <p>Наша компания предоставляет услуги по вывозу черного лома для юридических и частных лиц. Мы гарантируем удобное, своевременное обслуживание и высокий уровень сервиса, помогая эффективно избавляться от металлических отходов. Мы предоставляем съемные контейнера разного размера для вашего лома</p>
        </div>
        <div class="service-card">
            <img src="img/7.jpg" alt="Service 2" style="left: 10px;">
            <h3>Самовывоз металла до 3 тонн</h3>
            <p>Наша компания предоставляет услугу вывоза черного и цветного металлолома с использованием современного грузового автомобиля, вместимость которого до 3 тонн. Мы обеспечиваем оперативный и безопасный вывоз металлолома как от юридических, так и от частных лиц. Наши профессиональные услуги включают быструю и безопасную погрузку и транспортировку металлолома, гарантируя качество и надежность</p>
        </div>
        <div class="service-card">
            <img src="img/2.jpg" alt="Service 3">
            <h3>Порезка металлических конструкций</h3>
            <p>Наша компания предоставляет профессиональные услуги по резке металлических конструкций. Мы располагаем всем необходимым оборудованием и опытными специалистами, чтобы выполнять резку быстро, точно и безопасно.</p>
        </div>
        <div class="service-card">
            <img src="img/4.jpg" alt="Service 5">
            <h3>Покупка авто и бытовой техники целиком</h3>
            <p>Наша компания предлагает услугу покупки автомобилей по весу. Мы принимаем на оценку и приобретаем легковые автомобили, ориентируясь на их вес. Кроме того, мы принимаем бытовую технику целиком, такую как холодильники, стиральные машины, газовые и электрические плиты. Вы можете сдать устаревшую технику и транспорт легко и выгодно!</p>
        </div>
    </div>
    <footer style="background-color: #484848; padding: 20px; display: flex; align-items: center; justify-content: space-between; font-family: Arial, sans-serif;">
        
        <div style="display: flex; align-items: center;" class="footer-logo-container">
          <img src="img/logo.png" alt="Логотип" style="height: 50px; margin-right: 10px;">
          <span style="font-family: 'Russo One', serif; white-space: nowrap;">Тотал Втор</span>
        </div>
      
        
        
      
        
        <div class="footer-icons">
          <a href="https://www.tiktok.com/@metallolom_od?_t=ZM-8sqTkTGbXoj&_r=1" class="fab fa-tiktok" aria-label="Tiktok"></a>
          <a href="https://t.me/+-V1Dq0yUMps1ZDgy" class="fa fa-telegram" aria-label="Telegram"></a>
          <a href="mailto:total.vtor.manager@gmail.com" class="fa fa-envelope" aria-label="Email"></a>
          <a href="tel:+380932158161" class="fas fa-square-phone" aria-label="Phone"></a>
        </div>
    </footer>
</body>
</html>
