<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выберите канал</title>
    <link rel="stylesheet" href="/css/telegram.css">
</head>
<body>

    <div class="container">
        <h2>Оберіть канал який вам потрібен</h2>
        <a href="https://t.me/totalvtor_musor" class="btn" style="background-color: rgb(7, 68, 2);">Вивіз сміття у контейнерах</a>
        <a href="https://t.me/totalvtor" class="btn" style="background-color: rgb(255, 98, 0);">Купівля металобрухту</a>
    </div>

</body>
</html>