<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Тотал Втор | Прийом металобрухту в Одесі – Про компанію</title>
    <script src="https://kit.fontawesome.com/f27517934e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="gradient">
        <header>
            <div class="logo-container">
                <img src="/img/logo.png" alt="Логотип компанії Тотал Втор" class="logo">
                <div class="company-name">Тотал Втор</div>
            </div>
            <div class="contacts">
                <a href="tel:+380932158161">+380 (93) 215 81 61</a>
                <a href="mailto:manager@totalvtor.od.ua">manager@totalvtor.od.ua</a>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="/">Головна</a></li>
                <li><a href="/services">Послуги</a></li>
                <li><a href="/aboutus" class="mainPage">Про нас</a></li>
                <li><a href="/contacts">Контакти та адреси</a></li>
                <li><a href="/price">Ціни</a></li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <section class="content">
            <h1>Пункт прийому металобрухту — Суднобудівна, 15/1</h1>
  
            <h2>Часи роботи</h2>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>День</th>
                            <th>Часи роботи</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Понеділок</td>
                            <td>08:00-19:00</td>
                        </tr>
                        <tr>
                            <td>Вівторок</td>
                            <td>08:00-19:00</td>
                        </tr>
                        <tr>
                            <td>Середа</td>
                            <td>08:00-19:00</td>
                        </tr>
                        <tr>
                            <td>Четвер</td>
                            <td>08:00-19:00</td>
                        </tr>
                        <tr>
                            <td>П'ятниця</td>
                            <td>08:00-19:00</td>
                        </tr>
                        <tr>
                            <td>Субота</td>
                            <td>08:00-19:00</td>
                        </tr>
                        <tr>
                            <td>Неділя</td>
                            <td>08:00-17:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h2>Фото приймального пункту</h2>
            <div class="image-gallery">
                <img src="/img/adresses/sudnobudivna/2.JPG" alt="Фото 2">
                <img src="/img/adresses/sudnobudivna/1.JPG" alt="Фото 1">
                <img src="/img/adresses/sudnobudivna/3.JPG" alt="Фото 3">
                <img src="/img/adresses/sudnobudivna/4.JPG" alt="Фото 4">
            </div>

            <h2>Наша адреса на карті</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d687.3971267190922!2d30.740796166017095!3d46.437035108377216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c633942c128cff%3A0xd3834b7e9dde8dda!2z0KHRg9C00L7RgdGC0YDQvtC40YLQtdC70YzQvdCw0Y8g0YPQuy4sIDE1LCDQntC00LXRgdGB0LAsINCe0LTQtdGB0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDY1MDAw!5e0!3m2!1sru!2sua!4v1753121470484!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </div>

    <footer style="background-color: #484848; padding: 20px; display: flex; align-items: center; justify-content: space-between; font-family: Arial, sans-serif;">
        <div style="display: flex; align-items: center;" class="footer-logo-container">
            <img src="/img/logo.png" alt="Логотип компанії Тотал Втор" style="height: 50px; margin-right: 10px;">
            <span style="font-family: 'Russo One', serif; white-space: nowrap;">Тотал Втор</span>
        </div>
        <div class="footer-icons">
            <a href="https://www.tiktok.com/@metallolom_od?_t=ZM-8sqTkTGbXoj&_r=1" class="fab fa-tiktok" aria-label="Tiktok"></a>
            <a href="https://t.me/+-V1Dq0yUMps1ZDgy" class="fa fa-telegram" aria-label="Telegram"></a>
            <a href="mailto:manager@totalvtor.od.ua" class="fa fa-envelope" aria-label="Email"></a>
            <a href="tel:+380932158161" class="fas fa-square-phone" aria-label="Phone"></a>
        </div>
    </footer>
</body>
</html>
